.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.content {
  max-width: 1000px;
  padding: 0px 20px 0px 20px;
  background-color: white;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: paleturquoise;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.myname {
  font-weight: 700;
  font-size: 2rem;
  padding: 5px 20px 5px 20px;
  width: 200px;
  line-height: 49px;
  text-align: center;
}

.selectedpage {
  background-color: powderblue;
}

.pages {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  width: 100%;
}

.pages div {
  padding: 0px 10px 0px 10px;
  align-self: center;
  line-height: 60px;
  font-weight: 700;
}

.pages div:hover,
.myname:hover {
  background-color: skyblue;
}

.external {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.external div {
  padding: 0px 20px 0px 0px;
}
